<br><br><br>
<br><br><br>
<div class="content">


<button onclick="location.href='/Dashboard/View'" type="button">View</button>
<button onclick="location.href='/Dashboard/Add'" type="button">Add</button>
<button onclick="location.href='/Dashboard/Edit'" type="button">Edit</button>

    <h2>We are happy to welcome you!</h2>
    <h3>Enjoy our best food, {{user.fname}} {{user.lname}} !</h3><br><br>
    
    <button onclick="location.href='/Dashboard/Logout'" type="button">Logout</button>
    




</div>