<style>
    .addbtn {
  background-color: #e8015a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
  opacity: 0.9;
}
.addbtn:hover {
  opacity: 1;
}

</style>
<br><br><br>
 <form class="modal-content" action="/Dashboard/Edit" method="POST">

    <div class="container">
        <label for="title"><b>Title</b></label>
        <input type="text" placeholder="Enter Title" name="title" value="{{ttitle}}">

        <div class="errors">{{titleError}}</div>
    </div>

    <button type="submit">Find</button>
</form>








 <button onclick="location.href='/Dashboard/DataClerk'" type="button" class="addbtn">Go Back</button>