body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.jumbotron {
    background-image: url("https://cdn.shopify.com/s/files/1/1758/4293/t/71/assets/pf-02cbc49b--bannermeals2.png?v=1583889805");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.containergif {
    text-align: center;
}

.containergif h1 {
    color: whitesmoke;
    font-size: 4em;
}

.containergif a {
    border: 2px solid rgb(236, 179, 198);
    padding: 6px;
    text-transform: uppercase;
    text-decoration: none;
}

@media screen and (min-width: 768px) {
    nav {
        position: absolute;
        right: 0;
        top: 3em;
        font-size: 17px;
    }
    main {
        margin-top: 6em;
    }
}

@media screen and (max-width: 768px) {
    header img {
        height: 4em;
    }
    nav {
        font-size: 17px;
    }
    main {
        margin-top: 9em;
    }
}


/*
gif images for content
*/

@media screen and (min-width: 768px) {
    .grid-container {
        display: inline-grid;
        gap: 1.5vw;
        grid-template-columns: 23% 23% 23% 23%;
        justify-content: space-evenly;
    }
    .grid-item img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .grid-container {
        display: inline-grid;
        gap: 15px;
        grid-template-columns: 22% 22% 22% 22%;
        justify-content: space-evenly;
    }
    .grid-item img {
        width: 150px;
    }
}

.content {
    text-align: center;
}


/*
gif images for content
*/


/*Grid for top meals*/

@media screen and (min-width: 768px) {
    .grid-container-allmeals {
        display: inline-grid;
        grid-gap: 1.5vw;
        grid-template-columns: 22% 22% 22% 22%;
        justify-content: space-evenly;
    }
    .topmeals img {
        width: 50%;
    }
}

@media screen and (max-width: 768px) {
    .grid-container-allmeals {
        display: inline-grid;
        grid-gap: 15px;
        grid-template-columns: 22% 22% 22% 22%;
        justify-content: space-evenly;
    }
    .topmeals img {
        width: 150px;
    }
}


/*Grid for top meals*/