<style>
* {
  box-sizing: border-box;
}
/* Add padding to containers */
.container {
  padding: 10px;
  background-color: white;
}
/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 7px;
  margin: 5px 0 10px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}
/* Overwrite default styles of hr */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}
/* Set a style for the submit button */
.loginbtn {
  background-color: #e8015a;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.loginbtn:hover {
  opacity: 1;
}
.img-fluid{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 13%;
}
</style>


<div class="form" >
    <form action="/Login" method="POST">
  <div class="container">
    <br>
    <h4 style="text-align: center;">Customer Login</h4>
    <hr>

<img src="img/icon1.png" alt="Avatar" class="img-fluid">
  
    <hr>
    <label for="email"><b>Email</b></label>
    <input type="text" placeholder="Enter Email" name="email" id="email" value="{{information.email}}">

    <label for="password"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" id="password" value="{{information.password}}">
  {{#each errorMessages}}
<div><p style="color: red;">Error: {{this}}&#10071;</p></div>
{{/each}}
    <button type="submit" class="loginbtn">Login</button>
  </div>
  
</form>
</div>